.module.content {
	position: relative;
	margin-top: var(--rhythm);
	z-index: 1000;
}

.content a {
	color: var(--color-hl);
}

.content h1 {
	margin: 0 auto 0 auto;
	padding: 0 2rem;
	text-align: center;
	max-width: 800px;
}

.content h2 {
	margin: 4rem auto 1rem auto;
	padding: 0 2rem 0 2rem;
	max-width: var(--width-tight);
}

.content h3 {
	margin: 4rem auto 1rem auto;
	padding: 0 2rem 0 2rem;
	max-width: var(--width-tight);
}

.content p {
	margin: 1rem auto;
	padding: 0 2rem;
	max-width: var(--width-tight);
}

.content hr {
	margin: calc(var(--rhythm)/2) 0 calc(var(--rhythm)/2) 0;
    border: none;
}

.content ul {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: var(--width-tight);
    width: 100%;
}

.content blockquote {
	width: 100%;
	max-width: var(--width-body);
	margin: 0 auto;
}

.content blockquote p {
	width: auto;
	max-width: 100%;
	text-align: center;
}

.content p img,
.content p video {
	margin: 0 auto 0 auto;
}

.content img,
.content video {
	display: block;
	width: 100%;
}

.content .enum {
	display: grid;
	grid-template-columns: 1fr; 
	grid-gap: 2rem;
	margin: 4rem auto 0 auto;
	padding: 0 2rem;
	width: 100%;
	max-width: 1000px;
}

@media (min-width: 735px) {
	.content .enum {
		grid-template-columns: 1fr 1fr; 
	}
}

@media (min-width: 1000px) {
	.content .enum {
		grid-template-columns: 1fr 1fr 1fr; 
	}
}

.content .item {
    width: 100%;
    text-align: center;
    box-shadow: 0 5px 15px 0px rgba(15, 25, 24, 0.04);
    padding: 4rem 2rem;
    border: 1px solid #00968826;
    background-color: #f1f1f1;
}

.content .enum img,
.content .enum video{
	margin: 0;
	padding: 0;
}


.content .enum h2,
.content .enum h3,
.content .enum p {
	padding: 0;
	margin-top: 0;
	margin-left: 0;
	max-width: none;
}

.content .enum p {
	margin-bottom: 0;
}

.content .enum * + p,
.content .enum * + h3 {
	margin-top: 1rem;
}


.content .enum .material-icons {
	font-size: 3rem;
    color: #31BEA5;
}

.content .deco {
	position: absolute;
	width: 100%;
	user-select: none;
	pointer-events: none;
	z-index: 999;
}

.content .deco div {
	position: relative;
	margin: 0 auto;
	max-width: var(--width-site);
}

.content .deco div span {
	position: absolute;
}

.content .deco img {
	width: auto;
	max-width: none;
	display: block;
	margin: 0 auto;
    transform: translateX(-50%);
}

.content .deco.revealed {
	transition-delay: 0.2s;
	transition-duration: 5s;
	opacity: 0.15;

}

.exiting .content .deco.revealed {
	opacity: 0;
	transition-duration: 0.2s;
	transition-delay: 0s;
}

