<div id="mc_embed_signup">
	<form 
	action="https://calotte.us8.list-manage.com/subscribe/post?u=f6e1c8a243d159fe2acbb0061&amp;id=c6129c1226" 
	method="post" 
	id="mc-embedded-subscribe-form" 
	name="mc-embedded-subscribe-form" 
	class="validate" 
	target="_blank" 
	novalidate>

	    <div id="mc_embed_signup_scroll">
		<h2>{{ "THEME.MAILCHIMP.TITLE"|t }}</h2>
		<div class="mc-field-group">
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="{{ "THEME.MAILCHIMP.EMAIL"|t }}">
		</div>  

		{# get url language #}
		<input hidden type="text" value="{{ grav.language.getActive }}" name="LANG" class="" id="mce-LANG">

	 	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f6e1c8a243d159fe2acbb0061_c6129c1226" tabindex="-1" value=""></div>
	 	<div class="clear"><input type="submit" value="{{ "THEME.MAILCHIMP.SUBMIT"|t }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div></div>
	</form>
</div>